* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'inter';
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  background-color: hsl(0, 0%, 12%);
  min-height: 480px;
  min-width: 300px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  margin-top: 25px;
}
.img img {
  border-radius: 50%;
  max-width: 80px;
}
.heading {
  color: white;
  margin-top: 25px;
  font-size: 22px;
}
.sub-heading {
  color: hsl(75, 94%, 57%);
  margin-top: 10px;
  font-size: 14px;
}
.title {
  color: white;
  margin-top: 25px;
  font-size: 12px;
}
.links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 10px;
}
.links span {
  background-color: hsl(0, 0%, 20%);
  min-width: 250px;
  min-height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links span a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
