body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: slateblue;
}
.btn {
  background-color: pink;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration-line: none;
  position: relative;
  overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
    font-weight: 500;
}
.btn::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: var(--ydir);
  left: var(--xdir);
  transform: translate(-50%, -50%);
  transition: width .5s ease-in-out, height .5s ease-in-out;
}
.btn:hover::before {

width: 200px;
height: 200px;
}

