.back-btn {
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.9),
    7px 7px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 6px 20px;
  margin-top: 80px;
  margin-left: 40px;
}
.country-detail {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 80px;
  margin-left: 40px;
}
.country-detail img {
  width: 40%;
}
.details-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 74px;
  max-height: 180px;
  flex-wrap: wrap;
}
.details-text p {
  margin: 0px;
}
.border-countries {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
}
.border-countries a {
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.758),
    7px 7px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 4px 14px;
  font-size: 14px;
}
@media (max-width: 906px) {
  .back-btn {
    padding: 3px 15px;
  }
  .country-detail {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    gap: 16px;
  }
  .details-text {
    max-height: unset;
  }
  .country-detail img {
    width: 100%;
    max-width: 400px;
  }
}
